<html>
  <head>
    <title> Home Page </title>
  </head>
  <body> 
    <h1> Home Page </h1>
    <a href="/users"> <button> View All Users </button> </a>
    <a href="/users/add-user"> <button> Add User </button> </a>
  </body>
</html>
