<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Sign Up</h1>
    <form action="/auth/add-user" method="post">
      User Name:
      <input type="text" name="username" placeholder="username" />
      E-Mail:
      <input type="email" name="email" placeholder="E-mail" />
      Password:
      <input type="password" name="password" placeholder="password" />
      <button type="submit">Register</button>
    </form>

    <% if (message) { %>
    <div style="color: red"><%= message %></div>
    <% } %>

    <a href="/auth/login">Already Registered. LOGIN!!</a>
  </body>
</html>
